@using Comm.ViewModels;
@using BL.Players

@inject RouterPlayer router
@inject NavigationManager NavManager

<div class="col-12 d-flex flex-wrap justify-content-center text-white">
    <span class="col-12 h4 text-center font-weight-bolder mt-5 mb-5">
        Eliminar jugador
    </span>
    <label class="col-12 text-center">¿Seguro que deseas eliminar este jugador?</label>
    <h5 class="col-12 mb-4 text-center">
        <strong>
            @player.Name "@player.Alias"
        </strong>
    </h5>
    <div class="form-group justify-content-center d-flex flex-wrap">
        <span class="col-12 text-danger text-center h5">@message</span>
        <input type="button" value="Eliminar jugador" @onclick="Delete" class="form-control btn btn-danger col-12" />
        <a href="Players/Index" class="btn btn-secondary m-3">Volver</a>
    </div>
</div>


@code {
    [Parameter]
    public string PlayerId { get; set; }
    public string message { get; set; }
    PlayerVM player = new PlayerVM();

    protected override async Task OnInitializedAsync()
    {
        player = router.Get(Int32.Parse(PlayerId));
    }

    private void Delete()
    {
        
    }
}

