@page "/Login"

<div class="d-flex flex-wrap justify-content-center align-items-center" style="height: 85vh;">

    <div class="d-flex flex-wrap justify-content-center align-items-center col-md-4 mx-3" style="border-radius: 20px; z-index:100; background: rgba(0,0,0,.4); border: 1px solid rgba(255,255,255,.5); height:80vh;">

    </div>
</div>
@code {

}
