@inherits LayoutComponentBase


<div class="main" style="max-height: 100vh; background-image:url(/Images/bgpc.jpeg); min-height: 100vh; background-repeat: no-repeat; min-width: 100vw; background-size:cover; overflow:scroll;">
        <NavMenu></NavMenu>
    <div class="content p-0 justify-content-center align-items-center d-flex" style="padding:0 !important;">
        @Body
    </div>

</div>
