<nav class="navbar navbar-expand-lg navbar-dark " style="background: rgba(0,0,0,.5); height:12vh;">
    <a class="navbar-brand" href="#">
        <img src="/Images/uefaNavbarBrand.png" height="45"/>
    </a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-white">
            <li class="nav-item ">
                <a class="nav-link text-white-50" href="/Teams/Index">Equipos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white-50" href="/Players/Index">Jugadores <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white-50" href="/Tournaments/Index">Torneos <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <LoginDisplay></LoginDisplay>

    </div>
</nav>


