@page "/"
@using BL.Matches;
@using Comm.ViewModels

@inject RouterMatch _routerMatch;

<div class="col-8 p-0 d-flex flex-wrap justify-content-center mt-2" style="background: rgba(0,0,0,.5)">
    <h4 class="col-12 text-center font-weight-bold my-4" style="color: rgba(255,255,255,.9); text-shadow: 1px 1px 1px #000;">Resultados recientes</h4>


    @foreach (var match in matches)
    {

        <GetMatchComponent Match="match" />

        i++;

        if (i >= 5)
            break;
    }

</div>
<img src="/Images/uefaCopa.png" style="width:150px; height: 150px; position:absolute; bottom:2vh; left:calc(50vw - 75px); opacity: .7;" />

@code
{
    List<MatchVM> matches = new List<MatchVM>();
    int i = 0;

    protected override void OnInitialized()
    {
        matches = _routerMatch.GetMatchesByWorkDay();
    }
}