@page "/"

    <div class="d-flex flex-wrap justify-content-center">
        <h4 class="col-12 text-center font-weight-bold my-4" style="color: rgba(255,255,255,.9); text-shadow: 1px 1px 1px #000;">Resultados recientes</h4>


        <div style="
        height: 10vh;
        width: 60vw;
        color: white;
        display: flex;
        align-items:center;
        background-color: rgba(0,0,0,.3);
">
            <span style="width:33vw; text-align: center;">
                <img src="/Images/pngocean.com.png" style="width: 12vw; height: 7vh; object-fit:contain; margin: 0 2vw;" />
                Steven
            </span>
            <span style="width: 10vw; text-align: center;">5</span>
            <span style="width: 10vw; text-align: center;"><strong>V</strong></span>
            <span style="width: 10vw; text-align: center;">1</span>
            <span style="width:33vw; text-align: center;">
                Willy
                <img src="/Images/pngocean.com.png" style="width: 12vw; height: 7vh; object-fit:contain; margin: 0 2vw;" />
            </span>
        </div>
    </div>


<img src="/Images/uefaCopa.png" style="width:150px; height: 150px; position:absolute; bottom:2vh; left:calc(50vw - 75px); opacity: .7;" />